body { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    max-width: 400px;
    padding: 20px;
    background: #eee;
    margin: 20px auto;
}

input {
    width: 100%;
    margin-bottom: 10px;
}

#submitUser {
    width: 80px;
}
 
h3 {
    display: flex;
    justify-content: center;
}

#registerNewUser {
    background-color: transparent;
    color: blue;
    border: none;
}

#WelcomeBack{
    display: none;
}

#WelcomeBack > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


