body { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#n{
    text-align: center;
    color:black;
    font-size: 45px;
}


form {
    max-width: 550px;
    padding: 45px;
    background: #A2A5D5;;
    margin: 20px auto;
    box-shadow: 7px 8px 20px 2px rgba(0, 0, 0, 0.436);
}

input {
    width: 100%;
    margin-bottom: 10px;
}

#submitUser {
    width: 80px;
}
 
h3 {
    display: flex;
    justify-content: center;
}

#registerNewUser {
    background-color: transparent;
    color: blue;
    border: none;
}

#WelcomeBack{
    display: none;
}

#WelcomeBack > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


