body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#movieGrid{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 150px 150px 150px;

}

img{
    height: 200px;
    width: 150px;
}