body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.allMovies{
    height: 100vh;
    width: 100%;
}

#currentMovie{
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    margin-top: 150px;
    width: 800px;
    height: 100vh;
    background-color: white;
}

#container div p{
    padding-right: 20px;
}

#infoMovie {
    padding-left: 20px;
}


#titleh1{
    display: flex;
    justify-content: center;

}

.center{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    font-size: 50px;
    padding-top: 20px;
}

#movieGrid{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

#movieWrapper {
    display: flex;
    background-color: #FFFFFC;
}

#conspiracyHeader {
    color: black;
    background-color: #FFFFFC;
    margin: 0;
    padding-left: 15px;
} 

#conspiracy {
    background-color: #FFFFFC;
    margin-bottom: 0px;
    margin-top: 0px;
    height: fit-content;
    padding: 15px;
    margin-top: 0;
}

.picture{
    height: 250px;
    width: 200px;
    transition: transform 0.4s;
    cursor:pointer;
}

.picture:hover {
    box-shadow: 5px 6px 2px 1px rgba(0, 0, 0, 0.436);
    transition: 0.4s;
    transform: scale(1.1);
}

.pictureMovie{
    padding: 20px 0px 20px 20px;
    height: 250px;
    width: 200px;
}

h2{
    padding: 0px 0px 0px 20px;
    margin-bottom: 0px;
}

#k{
    display: flex;
    justify-content: end;
}
.navbar {
    position: fixed; 
    top: 0;  /*Position the navbar at the top of the page*/
    width: 100%; /*Full width */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    
#goBack{
    padding: 14px 16px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition: transform 0.4s;
}

#goBack:hover {
    transition: 0.4s;
    transform: scale(1.2);
}

#hereComesTheComments{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    width: 800px;
    margin-bottom: 20px;
}


#hereComesTheComments div{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    background-color: white;
}

#hereComesTheComments > div{
    border-bottom: black solid 1px;
}

.userIcon2{
    height: 15px;
    width: 15px;
    cursor: pointer;
}

.navbar p {
    float: left;
    display: block;
    text-align: center;
    padding-top: 22px ;
    text-decoration: none;
}
    
#newUser{
    padding: 14px 16px;
}

.userIcon{
    padding: 14px 16px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition: transform 0.4s;
}

.userIcon:hover {
    transition: 0.4s;
    transform: scale(1.2);
}

#formComment{
    max-width: 780px;
    background-color: #FFFFFC;
    margin-bottom: 0px;
    margin-top: 0px;
}

#comments{
    width: 750px;
    height: 150px;
}

#submitComment, #sortComment {
    width: fit-content;
    height: 30px;
    cursor: pointer;
}

.commentWrapper {
    background-color: #FFFFFC;
    /* margin: 5px; */
    display: grid;
    grid-template-columns: 100px 1fr 90px;
    align-items: center;
}

.commentContent {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: flex-start;
}

.commentDate {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: flex-start;
}

svg {
    width: 15px;
}

.likeButton {
    cursor: pointer;
}