body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.allMovies{
    height: 100vh;
    width: 100%;
}

#currentMovie{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    padding-top: 150px;
    width: 800px;
    height: 100vh;
}

/* #container div{
    display: flex;
} */

#container p{
    padding: 0px 20px 0px 20px;
}

#container div p{
    padding-right: 20px;
}

/* #container div div{
    display: flex;
    flex-direction: column;
    justify-content: left;
} */

#titleh1{
    display: flex;
    justify-content: center;

}

.center{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    display: flex;
    justify-content: center;
}

#movieGrid{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

.picture{
    height: 250px;
    width: 200px;
    transition: transform 0.4s;
    cursor:pointer;
}

.picture:hover {
    box-shadow: 5px 6px 2px 1px rgba(0, 0, 0, 0.436);
    transition: 0.4s;
    transform: scale(1.1);
}

.pictureMovie{
    padding: 0px 0px 0px 20px;
    height: 250px;
    width: 200px;
}

.navbar {
    display: flex;
    justify-content: end;
    position: fixed; 
    background-color: rgb(200, 229, 246);
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
    
#goBack{
    padding: 14px 16px;
}

#hereComesTheComments{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    width: 800px;
    margin-bottom: 20px;
}

.navbar p {
    float: left;
    display: block;
    text-align: center;
    padding-top: 22px ;
    text-decoration: none;
}
    
#newUser{
    padding: 14px 16px;
}

.userIcon{
    padding: 14px 16px;
    height: 50px;
    width: 50px;
}

#formComment{
    max-width: 780px;
}

#comments{
    width: 780px;
    height: 150px;
}

.allLikeButtons {
    grid-column: 3;
    grid-row: 1;
    background-color: #FFFFFC;
    border: 1px solid #12194A;
    border-radius: 1em;
    color: #12194A;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
}

.allLikeButtons:hover {
    background-color: #12194a43;
}

.allLikeButtons:focus {
    background-color: #12194A;
    border: 1px solid #FFFFFC;
    color: #FFFFFC;
}

.commentWrapper {
    background-color: #FFFFFC;
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.commentContent {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: flex-start;
}

.commentDate {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: flex-start;
}