body { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
form {
    max-width: 400px;
    padding: 20px;
    background: #eee;
    margin: 20px auto;
}

input {
    width: 100%;
    margin-bottom: 10px;
}

#submit {
    width: 80px;
}
 
h3 {
    display: flex;
    justify-content: center;
}

#Welcome{
    display: none;

}

#Welcome > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#conspiracyTheoriesButton{
height: 150px;
width: 300px;
}

#movies{
    display: none;
}
